{% set image_content %}
  {% if image.src %}
    {% set aspect_ratio = image.width / image.height %}
    {% set height = (width|default(800) / aspect_ratio)|round %}
    {{ include('canvas:image',
      image|merge({
        width: width|default(image.width),
        height: height|default(image.height),
        alt: alt|default(image.alt),
        class: width ? '' : 'object-cover w-full h-full',
        loading: loading|default('lazy'),
        sizes: 'auto 100vw',
      }), with_context = false) }}
  {% else %}
    {{ image }}
  {% endif %}
{% endset %}

{% if url %}
  <a href="{{ url }}">
    {{ image_content }}
  </a>
{% else %}
  {{ image_content }}
{% endif %}
