<div{{ attributes.addClass('title') }}>
  <div class="title__title">
    {% if url %}
      <a href="{{ url }}" class="title__link">
        {{ heading }}
        <span class="title__icon">
          {{ include('morphos:icon', {
            icon: 'caret-circle-right',
            icon_size: 'icon-size--sm',
          },
            with_context: false
          ) }}
        </span>
      </a>
    {% else %}
      <div class="title__label">
        {{ heading }}
      </div>
    {% endif %}
  </div>
</div>
