{% set desktop_classes = [
  'menu',
]|merge(menu_classes ?: []) %}

{% set mobile_dropdown_classes = [
  'menu',
  'dropdown-content',
]|merge(mobile_classes ?: []) %}

{% if items %}
  {# Desktop menu #}
  <ul {{ attributes.addClass(desktop_classes) }}>
    {% for item in items %}
      <li>
        {% if item.is_expanded and item.below %}
          <details>
            <summary><span>{{ item.title }}</span></summary>
            <ul class="p-2 mt-4 w-40 z-1 rounded-t-none rounded-b-lg">
              {# Parent items #}
              <li>{{ link(item.title, item.url) }}</li>
              {# Child items #}
              {% for child in item.below %}
                <li>{{ link(child.title, child.url) }}</li>
              {% endfor %}
            </ul>
          </details>
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {# Mobile dropdown #}
  {% if show_mobile_toggle %}
    <div class="dropdown dropdown-end lg:hidden">
      <div tabindex="0" role="button" aria-label="Menu" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
        </svg>
      </div>
      <ul tabindex="-1" class="{{ mobile_dropdown_classes|join(' ') }}">
        {% for item in items %}
          <li>
            {% if item.is_expanded and item.below %}
              <details>
                <summary><span>{{ item.title }}</span></summary>
                <ul class="p-2">
                  {# Parent items #}
                  <li>{{ link(item.title, item.url) }}</li>
                  {# Child items #}
                  {% for child in item.below %}
                    <li>{{ link(child.title, child.url) }}</li>
                  {% endfor %}
                </ul>
              </details>
            {% else %}
              {{ link(item.title, item.url) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endif %}
